<template>
   <table class={computedClass}>
      <thead>
         <tr>
            <!--Table Header-->
            <template for:each={headers} for:item="header">
               <template if:true={sortable}>
                  <th
                     key={header.key}
                     data-header={header.key}
                     sortable={header.sortable}
                     sort-direction={header.sortDirection}
                     active={header.active}
                  >
                     <button
                        type="button"
                        data-id={header.key}
                        class="bx--table-sort bx--table-sort--active bx--table-sort--ascending"
                        onclick={handleColumnSort}
                     >
                        <div class="bx--table-header-label">{header.value}</div>
                        <w-base-icon
                           name="ArrowUp"
                           size="20"
                           class="bx--table-sort__icon"
                        ></w-base-icon>
                        <w-base-icon
                           name="ArrowVertical"
                           size="20"
                           class="bx--table-sort__icon-unsorted"
                        ></w-base-icon>
                     </button>
                  </th>
               </template>
               <template if:false={sortable}>
                  <th scope={scope} data-header={header.key} key={header.key}>
                     <div class="bx--table-header-label">{header.value}</div>
                  </th>
               </template>
            </template>
            <!--Table Header-->
         </tr>
      </thead>
      <tbody>
         <template for:each={rows} for:item="row">
            <tr key={row.id}>
               <td>{row.name}</td>
               <td>{row.protocol}</td>
               <td>{row.port}</td>
               <td>{row.cost}</td>
            </tr>
         </template>
      </tbody>
   </table>
</template>
