/* @tailwind base; */
/* @import "tailwindcss/components"; */
.spin-xs {
    margin-right: 0.5rem;
    height: 1rem;
    width: 1rem
}
@-webkit-keyframes spin {
    to {
        transform: rotate(360deg)
    }
}
@keyframes spin {
    to {
        transform: rotate(360deg)
    }
}
.spin-xs {
    -webkit-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
    fill: var(--spin-foreground);
    --tw-text-opacity: 1;
    color: rgb(229 231 235 / var(--tw-text-opacity))
}
@media (prefers-color-scheme: dark) {
    .spin-xs {
        --tw-text-opacity: 1;
        color: rgb(75 85 99 / var(--tw-text-opacity))
    }
}
.spin-sm {
    margin-right: 0.5rem;
    height: 2rem;
    width: 2rem
}
@keyframes spin {
    to {
        transform: rotate(360deg)
    }
}
.spin-sm {
    -webkit-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
    fill: var(--spin-foreground);
    --tw-text-opacity: 1;
    color: rgb(229 231 235 / var(--tw-text-opacity))
}
@media (prefers-color-scheme: dark) {
    .spin-sm {
        --tw-text-opacity: 1;
        color: rgb(75 85 99 / var(--tw-text-opacity))
    }
}
.spin-md {
    margin-right: 0.5rem;
    height: 4rem;
    width: 4rem
}
@keyframes spin {
    to {
        transform: rotate(360deg)
    }
}
.spin-md {
    -webkit-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
    fill: var(--spin-foreground);
    --tw-text-opacity: 1;
    color: rgb(229 231 235 / var(--tw-text-opacity))
}
@media (prefers-color-scheme: dark) {
    .spin-md {
        --tw-text-opacity: 1;
        color: rgb(75 85 99 / var(--tw-text-opacity))
    }
}
.spin-lg {
    margin-right: 0.5rem;
    height: 6rem;
    width: 6rem
}
@keyframes spin {
    to {
        transform: rotate(360deg)
    }
}
.spin-lg {
    -webkit-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
    fill: var(--spin-foreground);
    --tw-text-opacity: 1;
    color: rgb(229 231 235 / var(--tw-text-opacity))
}
@media (prefers-color-scheme: dark) {
    .spin-lg {
        --tw-text-opacity: 1;
        color: rgb(75 85 99 / var(--tw-text-opacity))
    }
}
/* @import "tailwindcss/utilities"; */